html, body, h1, h2, h3, h4, ul, ol, li, p, a {
    padding: 0;
    border: 0;
    margin: 0;
    font: inherit;
    font-size: 100%;
    font-family: 'Prompt', sans-serif;
}

body {
    background: rgba(224,224,224) url(restaurant.webp) top center;
}

a {
    color: #000;
    text-decoration: none;
}

/*** Header ***/

.top-container, .header {
    background-color: #fff;

}

.header {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 1175px;

}

h1 {
    color: #8DC728;
    text-transform: uppercase;
    font-size: 30px;
}

h1 span, .header a:hover {
    color: #CE2020;
}

h1, h2 {
    font-weight: 800;
}

h1, nav a {
    margin: 0 20px;

}


nav a {
    font-size: 20px;
    padding-bottom: 26px;
}

nav a:hover {
    border-bottom: solid 2px;
}

nav {
    padding-top: 8px;
}

/*** Main Content ***/

.column-container {
    display: flex;
    margin-top: 40px;
    flex-flow: row wrap;
    justify-content: center;
}

.column-1 {
    align-items: center;
    padding: 0px 25px;
    margin: 5px;
    width: 300px;
}

.column-1 p {
    font-size: 18px;
}

h2 {
    font-size: 65px;
    line-height: 1;
    margin-bottom: 10px;
}


.be {
    margin-bottom: 0;
    line-height: 0.7;
}

.browse-btn {
    text-transform: uppercase;
    margin: 15px 0 0 0;
}

.browse-btn a {
    font-size: 20px;
    padding-bottom: 5px;
}

.browse-btn a:hover {
    border-bottom: solid 2px black;
}

/*** Image Columns ***/

.column {
    align-items: center;
    margin: 5px;
    width: 267px;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
}

.column-2 {
    background-image: url(apple-breakfast-quinoa-7.jpg);
}

.column-3 {
    background-image: url(pasta-salad-recipe-for-lunch.jpg);
}

.column-4 {
    background-image: url(shrimp.jpg);
}

.column a {
    font-size: 16px;
    text-transform: uppercase;
}

/*** Column Links ***/

.white {
    background-color: #fff;
    padding: 10px;
    transition: all .2s ease-in-out;
}

.white:hover {
    padding-left: 25px;
}

.green {
    background-color: #8DC728;
    transition: all .2s ease-in-out;

}

.breakfast {
    padding: 10px 10px 10px 31px;
}

.lunch {
    padding: 10px 10px 10px 67px;
}

.dinner {
    padding: 10px 10px 10px 64px;
}

